h2{
    color: darkblue
}
p{
    color: black
}
body{
    background-color: seashell;
}
.Swan{
    color: darkblue
}
.diet{
    color: darkblue;
}
.Behavior{
    color: darkblue;
}
.Swan{
    font-family: monospace;
}
.Behavior{
    font-family: monospace;
}